
:root {
   --blue: #2289FF;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 1535px;
    width: 90%;
}
.city, .apartment, .price {
    display:  flex;
    flex-direction: column;
}
.select {
    /* max-width: 900px;
    width: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 49px;
}
.searchproperties {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    background-color: #fff;
}
.filter {
    display: flex;
    align-items: center;
}


.filter button {
    border-radius: 10px;
    background-color: var(--blue);
    color: #fff;
    border: none;
    width: 212px;
    height: 71px;
    font-size: 22px;
    line-height: 32px;
    margin-left: 20px;
}

.forbutton button {
    border-radius: 20px;
    width: 136px;
    height: 62px;
    font-size: 28px;
    line-height: 40px;
    background-color: #fff;
    border: none;
}

.forbutton {
    max-width: 600px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
.sec1button:nth-child(1) {
background-color: var(--blue);
color:#fff;
}
.sec1button:nth-child(2):hover,
.sec1button:nth-child(3):hover {
    background-color: var(--blue);
    color: #fff;
}
.apartment {
    margin-left: 70px;
    margin-right: 70px;
}

.select label {
    margin-bottom: 13px;
    color: #8D9598;
    font-size: 22px;
    line-height: 32px;
}
.city input::placeholder {
    font-size: 30px;
    line-height: 44px;
    color: var(--blue);
}
.city input{
    display:flex;
    height: 44px;
    width: 146px;
    border: none;
    outline: none;
    font-size: 30px;
    color: var(--blue);
    text-transform: capitalize;
}
.apartment select,
.price select {
    font-size: 30px;
    line-height: 44px;
    outline: none;
    color: var(--blue);
    border: none;
}
